<h5 class="welcome">User: {{ user.username }}</h5>
<h5 class="welcome">Group: {{ group }}</h5>
<a href="home"><i class="fas fa-arrow-left backarrow"></i><p class="backarrow">Back to Groups</p>
</a>
<button *ngIf="assis" (click)="showCreateChannel()" class="btn btn-primary" id="submitbutton">Create new Channel</button>
<button *ngIf="admin" (click)="showCreateUser()" class="btn btn-primary userbtn" id="middleButton">Add User +</button>
<button *ngIf="assis" (click)="showRemoveChannel()" class="btn btn-danger userbtn" id="middleButton">Remove Channel</button>
<button *ngIf="sadmin" (click)="showRemoveUser()" class="btn btn-danger userbtn" id="endButton">Remove User -</button>
<div class="newChannelForm">
  <form *ngIf="createChannel" id="createChannel">
    <label for="newChannel" class="lbl">New Channel Name: </label>
    <input type="newChannel" [(ngModel)]="newChannel" name="newChannel" id="newChannel" autofocus required/>
    <button type="button" (click)="createC();showCreateChannel()" id="savebutton"
      class="btn btn-dark btn-lg">Save</button>
  </form>
  </div>
  <div id="createUser">
  <form *ngIf="createUser" id="createUser">
    <label for="username" class="lbl">Username: </label>
    <input type="username" [(ngModel)]="uusername" name="username" id="username" autofocus required />
    <label for="email" class="lbl">Email: </label>
    <input type="email" [(ngModel)]="uemail" name="email" id="email" required />
    <button (click)="addU();show = !show" id="savebutton" class="btn btn-dark btn-lg" style="margin-top: 20px;">Save</button>
  </form>
  </div>
  <div class="removeChannelForm">
    <form *ngIf="removeChannel" id="removeChannel">
      <label for="removeChannel" class="lbl">Channel to Remove: </label>
      <input type="removeChannel" [(ngModel)]="channelToRemove" name="removeChannel" id="removeChannel" autofocus
        required />
      <button type="button" (click)="removeC();showRemoveChannel()" id="savebutton"
        class="btn btn-dark btn-lg">Save</button>
    </form>
  </div>
  <div class="removeUserForm">
    <form *ngIf="removeUser" id="removeUser">
      <label for="removeUser" class="lbl">User to Remove: </label>
      <input type="removeUser" [(ngModel)]="userToRemove" name="removeUser" id="removeUser" autofocus
        required />
      <button type="button" (click)="removeU()" id="savebutton" class="btn btn-dark btn-lg">Save</button>
    </form>
  </div>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
          <h3 class="welcome">Channels</h3>
          <br>
          <ul *ngFor="let i of channelList" class="nav flex-column list-group">
            <li (click)="selectChannel(i)" [ngClass]="{'active' : i === this.channel}" class="nav-item list-group-item channel-item"><i class="fas fa-user-friends channel"></i>{{ i }}
            </li>
          </ul>
      </div>
    </nav>
    <main role="main" class="col-lg-10">
      <div id="main" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
      <app-channel [channel]="channel"></app-channel>
    </main>
  </div>
  </div>