.welcome {
  margin-left: 20%;
}

form input,
form label {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.newChannelForm {
  text-align: center;
}

.lbl {
  display: inline-block;
  margin-right: 20px;
}

form input {
  padding: 0.5em;
  width: 20em;
}

#submitbutton {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

#createChannel {
  margin-top: 50px;
}

.grouplist {
  width: 900px;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.backarrow {
  margin-left: 2.5%;
  font-size: 20px;
}

.channeli {
  padding-right: 10px;
}