.welcome {
  margin-left: 20%;
}

form input,
form label {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.newChannelForm, #createUser, .removeChannelForm, .removeUserForm {
  text-align: center;
}

.lbl {
  display: inline-block;
  margin-right: 20px;
}

form input {
  padding: 0.5em;
  width: 20em;
}

#submitbutton {
  display: inline-block;
  text-align: center;
  margin: 0 10px 20px 450px;
  font-family: 'Montserrat', sans-serif;
}

#savebutton {
  display: block;
  text-align: center;
  margin: 1% auto;
  font-family: 'Montserrat', sans-serif;
}

#middleButton {
    display: inline-block;
    text-align: center;
    margin: 0 10px 20px 10px;
    font-family: 'Montserrat',
    sans-serif;
}

#endButton {
    display: inline-block;
    text-align: center;
    margin: 0 100px 20px 10px;
    font-family: 'Montserrat',
    sans-serif;
}

#createChannel, #createUser {
  margin-top: 50px;
}

.grouplist {
  width: 900px;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.backarrow {
  margin-left: 2.5%;
  font-size: 20px;
}

.channeli {
  padding-right: 10px;
}

#createUser {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}