<div class="controlPanel">
<button *ngIf="assis" (click)="showUsers()" class="btn btn-primary " id="endButton">Manage Users</button>
<h4 class="channelTitle">{{ channel }}</h4>
</div>

<div id="createUser">
  <form *ngIf="userManagement" id="createUser">
    <table class="table table-striped userlist">
      <thead >
        <tr>
          <th scope="col">Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers">
          <th scope="row" class="tabletext">{{user.username}}</th>
          <td>
            <button type="button" (click)="addUserToChannel(user._id);show = !show" class="btn btn-primary btn-sm">Add</button>
             &nbsp;
            <button type="button" (click)="removeUserFromChannel(user._id);show = !show" class="btn btn-primary btn-sm">Remove</button>
          </td>
      </tbody>
    </table>
  </form>
</div>

<ol id="chatmessages" class="chatmessages">
  <div class="sender">{{ user.username }}</div>
  <li>Test Chat Item</li>
</ol>
  
  <div class="messageForm">
    <form id="messageform">
      <input name="message" type="text" placeholder="Type Message here..." autofocus autocomplete="off" />
      <button class="btn btn-primary">Send</button>
    </form>
  </div>

