.messageForm {
    width: 70%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background: #e6eaee;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    bottom: 0;
    position: fixed;
}

button {
  background: #265f82;
  transition: background .3s ease;
}

.messageForm form {
  flex-grow: 1;
  display: flex
}

.messageForm form * {
  margin-right: 10px
}

.messageForm input {
  border: none;
  padding: 10px;
  flex-grow: 1
}

#startButton {
  display: inline-block;
  text-align: right;
  margin: 0 10px 20px 400px;
  font-family: 'Montserrat', sans-serif;
}

#middleButton {
  display: inline-block;
  text-align: center;
  margin: 0 10px 20px 10px;
  font-family: 'Montserrat',
    sans-serif;
}

#endButton {
  display: inline-block;
  text-align: center;
  margin: 0 100px 20px 10px;
  font-family: 'Montserrat',
    sans-serif;
}

.channelTitle {
  display: inline;
  margin-left: 10%;
}

#createUser, #removeUser {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  margin-top: 10px;
  display: block;
}

form input,
form label {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.lbl {
  display: inline-block;
  margin-right: 20px;
}

form input {
  padding: 0.5em;
  width: 20em;
}

#createUser,
#removeUser {
  text-align: center;
}


.chatmessages {
  list-style: none;
  flex-grow:1;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
  padding:10px
}

.sender {
  display:flex;
  margin-bottom:5px;
  font-weight:600;
  margin-right:10px
}

.tabletext {
  font-family: 'Montserrat', sans-serif;
  font: normal;
}