<div class="controlPanel">
<button *ngIf="assis" (click)="showUsers()" class="btn btn-primary " id="endButton">Manage Users</button>
<h4 class="channelTitle">{{ channel }}</h4>
</div>

<div id="createUser">
  <form *ngIf="userManagement" id="createUser">
    <table class="table table-striped userlist">
      <thead >
        <tr>
          <th scope="col">Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers">
          <th scope="row" class="tabletext">{{user.username}}</th>
          <td>
            <button type="button" (click)="addUserToChannel(user._id);show = !show" class="btn btn-primary btn-sm">Add</button>
             &nbsp;
            <button type="button" (click)="removeUserFromChannel(user._id);show = !show" class="btn btn-primary btn-sm">Remove</button>
          </td>
      </tbody>
    </table>
  </form>
</div>

<div class="chat">

<ol id="chatmessages" *ngFor="let message of messages" class="chatmessages">
  <div class="message">
  <li>
    <div class="messageContent">
    <img class="avatar" [src]="linkImg(this.pictureURL)" />
    <div class="sender">{{ message.creatorName }}</div>
    <div class="content">{{ message.content }}</div> &nbsp;
    <div class="content">{{ message.createdAt }}</div>
    </div>
</li>
</div>
</ol>
</div>
  
  <div class="messageForm">
    <form id="messageform">
      <input name="message" type="text" [(ngModel)]="messageContent" placeholder="Type Message here..." autofocus
        autocomplete="off" />
      <button class="btn btn-primary" (click)="chat(messageContent)">Send</button>
    </form>
  </div>

