<div id="container">
<h2 id="adminheading" style="text-align: center">Admin Center</h2>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button class="btn btn-primary" (click)="swapView()">Create New User</button>
          </li>
        </ul>
      </div>
      </nav>
<main role="main" class="col-lg-10">
<div id="adminpage" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="userlist" *ngIf="!create">
    <h5>Current Users</h5>
    <p>Edit Group Admins:</p>
    <ul *ngFor="let user of userList">
      <li (click)="userDetailsVisible()">{{ user.username }}</li>
        <p class="smallP">Admin: <input type="checkbox" [(ngModel)]="user.groupAdmin" name="groupAdmin" id="checkGroup" /></p>
    </ul>
    <button id="submitbutton" class="btn btn-dark btn-lg">Save</button>
  </div>
  <form *ngIf="create" id="createuser">
      <label for="username" class="lbl">Username</label>
      <input type="username" [(ngModel)]="username" name="username" id="username" />
      <label for="email" class="lbl">Email</label>
      <input type="email" [(ngModel)]="email" name="email" id="email" />
      <br>
      <label for="groupAdmin" class="lbl" id="groupAdmin">Group Admin?<input type="checkbox" [(ngModel)]="groupAdmin"
          name="groupAdmin" id="check" /></label>
      <button (click)="createUser();show = !show" id="submitbutton" class="btn btn-dark btn-lg">Save</button>
      </form>
    </div>
</main>
</div>
