#container {
  min-height: 83vh;
}
p {
  font-size: 16px;
}

.smallP {
  font-size: 12px;
  margin-left: 50px;
}

#checkGroup {
  display: inline-block;
  margin-left: 10%;
}

#check {
  margin-top: -15px;
}

#adminpage {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#adminheading {
  margin-top: -50px;
}

form input, form label {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.lbl {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

form input {
  margin-block: 1em;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

#submitbutton {
  display: block;
  text-align: center;
  margin: 10% auto;
  font-family: 'Montserrat', sans-serif;
}

.invisible {
  visibility: hidden;
}

li {
  list-style: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

 .userlist, #createuser {
  width: 320px;
  min-height: 70vh;
  margin-left: -40%;
  display: block;
}

#groupAdmin {
  width: 320px;
}