.welcome {
    margin-left: 20%;
}

form input, form label {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.newGroupForm {
    text-align: center;
}

.lbl {
  display: inline-block;
  margin-right: 20px;
}

form input {
  padding: 0.5em;
  width: 20em;
}

#submitbutton {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

#createGroup {
    margin-top: 50px;
}

.grouplist {
  width: 900px;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

 .icon {
   font-size: 25px;
} 

#startButton {
  display: inline-block;
  text-align: center;
  margin: 0 10px 20px 800px;
  font-family: 'Montserrat', sans-serif;
}


#endButton {
  display: inline-block;
  text-align: center;
  margin: 0 100px 20px 10px;
  font-family: 'Montserrat',
    sans-serif;
}

.group-item {
  display: inline-block;
}