<h5 class="welcome" *ngIf="loggedIn">Welcome, {{ user.username }}</h5>
<button *ngIf="admin" (click)="showCreateGroup()" class="btn btn-primary" id="startButton">Create new Group</button>
<div class="newGroupForm">
<form *ngIf="createGroup" id="createGroup">
  <label for="newGroup" class="lbl">New Group Name: </label>
  <input type="newGroup" [(ngModel)]="newGroup" name="newGroup" id="newGroup" autofocus/>
  <button type="button" (click)="create();showCreateGroup()" id="submitbutton" class="btn btn-dark btn-lg">Save</button>
</form>
</div>
<div class="newGroupForm">
  <form *ngIf="removeGroup" id="createGroup">
    <label for="removeGroup" class="lbl">Group to Remove: </label>
    <input type="removeGroup" [(ngModel)]="groupToRemove" name="removeGroup" id="removeGroup" autofocus />
    <button type="button" (click)="remove();showRemoveGroup()" id="submitbutton"
      class="btn btn-dark btn-lg">Save</button>
  </form>
</div>

<h3 class="welcome">Groups</h3>
<div *ngIf="loggedIn">
<ul *ngFor="let i of user.groupList" class="grouplist list-group-item">
    <div class="group-item">
      <a href="group" (click)="selectGroup(i)"><i class="fas fa-server icon"></i>
      <li>{{ i }}</li></a>
    </div>
    <button *ngIf="admin" (click)="remove(i)" class="btn btn-danger removeButton">Remove</button>
</ul>
</div>